<h3>Products</h3>

<div class="row">
  <div class="section">
  <% @products.each do |product| %>
    <div class="col s4" align="center">
      <h4 class="click-product-name"><%= link_to product.name, product_path(product), id: "#{product.id}", remote: true %></h4>
      <div id="product-details-<%= product.id %>">
      </div>
      <p><%= number_to_currency product.price %></p>
      <%= form_for @order_item, remote: true do |f| %>
      <div class="input-field">
        <%= f.hidden_field :product_id, value: product.id %>
        <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
        <span class="waves-effect waves-light btn"><%= f.submit "Add to cart" %></span>
      </div>
      <% end %>
    </div>
  <% end %>
  </div>
</div>
